*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body {
    background: linear-gradient(to right, #ffecd2 0%, #fcb69f 100%);
}
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
}
header ul {
    display: flex;
    list-style: none;
}
header ul li {
    margin: 0 15px;
}
header a {
    text-decoration: none;
    color: rgb(99, 87, 87);
    font-weight: 500;
}
header button, section button {
    padding: 10px 20px;
    border: 1px solid #060606;
    border-radius: 5px;
    color: rgb(99, 87, 87);
    cursor: pointer;
    background-color: transparent;
}
h1 {
    color: rgb(99, 87, 87);
    font-size: 50px;
    /* margin-top: 50px; */
    font-weight: 700;
    margin: 0px;
    line-height: 1.2;
    margin-bottom: 20px;
}
#f-button {
    background-color: rgb(99, 87, 87);
    color: #ffffff;
    margin-right: 10px;
}
header img {
    width: 100px;
}
section {
    display: grid;
    align-items: center;
    justify-content: center;
    grid-template-columns: 2fr 1fr;
    padding: 50px 20px;
}
section div {
    max-width: 700px;
    margin-left: 50px;
}
section img {
    width: 500px;
    object-fit: contain;
}
section p {
    font-size: 17px;
    color: rgb(99, 87, 87);
    margin-bottom: 20px;
}