*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body {
    background: linear-gradient(to right, #ffecd2 0%, #fcb69f 100%);
}
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 20px;
    position: fixed;
    background-color: rgba(255, 255, 255, 0.1);
}
header nav {
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin: 0px auto;
}
header ul {
    display: flex;
    position: fixed;
    list-style: none;
}
header ul li {
    margin: 0 15px;
}
header a {
    text-decoration: none;
    color: rgb(99, 87, 87);
    font-weight: 500;
}
header button, section button {
    padding: 10px 20px;
    border: 1px solid #060606;
    border-radius: 5px;
    color: rgb(99, 87, 87);
    cursor: pointer;
    background-color: transparent;
}

header img {
    width: 100px;
}
h1 {
    color: rgb(99, 87, 87);
    font-size: 50px;
    font-weight: 700;
    margin: 0px;
    line-height: 1.2;
    margin-bottom: 20px;
}
#f-button {
    background-color: rgb(99, 87, 87);
    color: #ffffff;
    margin-right: 10px;
}

.section-1 {
    margin-top: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 50px 20px;
    box-shadow:rgba(0, 0, 0, 0.1) 0px 2px 4px;
}
.section-1 div {
    max-width: 700px;
    margin-left: 50px;
}
.section-1 img {
    width: 500px;
    object-fit: contain;
}
.section-2 {
    padding: 50px 20px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    align-items: center;
    justify-content: space-between;
    padding: 50px 20px;
    gap: 30px;
    max-width: 100%;
    height: auto;
    margin: 50px;
}
section p {
    font-size: 17px;
    color: rgb(99, 87, 87);
    margin-bottom: 20px;
}
.section-2 div {
    background: linear-gradient(to right, #fcb69f 0%, #ffecd2 100%);
    background-color: black;
    min-height: 200px;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.3);
   

}
.section-2 div img {
    max-width: 150px;
    object-fit: contain;
}
.grapes {
    height: 200px;
}
.watermelon-container, .pineapple-container {
     display: flex;
    align-items: center;
    justify-content: center;
}
.section-2 .grapes-container {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 50px;
}
/* .section-2-content {
    background-color: none;
    box-shadow: none;
} */
 hr {
    background-color:rgba(0, 0, 0, 1);
 }
 .section-3 div {
    display: flex;
    align-items: center;
    width: fit-content;
    background: linear-gradient(#FFF3C8, #FF9B25DE 87%);
    border-radius: 5px;
 }
