.grid-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 10px;
  padding: 10px;
}

.card {
  background: #4CAF50;
  color: white;
  padding: 40px 20px;
  text-align: center;
  border-radius: 10px;
  font-size: 1.2rem;
}
/* Tablet */
@media (max-width: 900px) {
  .grid-container {
    grid-template-columns: repeat(2fr, 1fr);
  }
}

/* Mobile */
@media (max-width: 600px) {
  .grid-container {
    grid-template-columns: 1fr;
  }
}
