*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
p {
    font-size: 16px;
    color: white;
}
body {
    background-image: url(/BG.png);
    background-position: center;
    background-repeat: none;
    background-size: cover;
}
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    margin-bottom: 50px;
}
header ul {
    display: flex;
    list-style: none;
}
header ul li {
    margin: 20px;
}
header a {
    text-decoration: none;
    color: white;
}
header button {
    padding: 10px 20px;
    background-color: #EBFF00;
    border: none;
    border-radius: 5px;
    color: #000000;
    cursor: pointer;
    border-radius: 32px;
}
h1 {
    color: white;
    font-size: 80px;
    margin-top: 50px;
    font-weight: 700;
    margin: 0px;
    line-height: 1 n.0;
}
span
section {
    display: flex;
}
button {
    padding: 10px 20px;
    border-radius: 32px;
}
section div {
    margin-left: 50px;
}
#f-container {
    
}