body {
        font-family: Arial, sans-serif;
        margin: 0;
        background-color: #0f172a;
        color: #e5e7eb;     
}
h1, h3 {
  color: #f9fafb;
}
section, header {
  padding: 60px 20px;
}

footer {
  text-align: center;
  padding: 20px;
  color: #9ca3af;
  font-size: 14px;
}
h1 {
  text-align: center;
  margin-top: 25px;
    font-size: 36px;
}